h1 {
    color: #ffdf20;
    font-style: italic;
    font-size: 35px;

}

.footer .upper {

    min-height: 83vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./src/images/footer.png");
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: 46px;
}

.footer .lower {
    padding: 39px 0;
    min-height: 20vh;
    background-color: #ffdf20;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: auton;
    font-style: italic;
}

.footer .superLover {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    color: white;
    background: black;
}

@media (max-width:700px) {
    .lower {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .lower div {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}